.chat-box-main{
    // float: right;
    background: gray;
    color: white;
    // height: 300px;
    width: 200px;
    // position: fixed;
    // bottom: 0;
    // right: 0;

}

.chat-box-main-cntr{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}